<ion-footer>
<div class="bar-assertive">
    <div class="foot_left">
      <p><span class="MED"></span></p>
      <p><span class="lg"></span></p>
      <p>北京万方数据股份有限公司</p>
      <p>万方数据电子出版社</p>
    </div>
    <div class="foot_middle">
      <p><a href="">关于我们</a> | <a href="">联系我们</a> | <a href="">网站地图</a> | <a href="">主要产品</a> | <a
              href="">主要服务</a></p>
      <p><a href="">使用帮助</a> | <a href="">服务承诺</a> | <a href="">诚聘英才</a> | <a href="">友情链接</a> | <a
              href="">知识产权</a></p>
      <p>客服热线：4000-115-888 转3 (周一至周五：8:00至17:00)</p>
      <p>客服邮箱：yiyao@wanfangdata.com.cn</p>
    </div>
    <div class="foot_right">
      <p>互联网出版许可证 新出网证(京)字042号</p>
      <p>互联网药品信息服务资格证书号：(京)-经营性-2011-0017</p>
      <p>信息网络传播视听节目许可证</p>
      <p>京公网安备11010802020237号</p>
      <p>京ICP证010071号</p>
    </div>
  </div>
</ion-footer>
