.content {
  width: 1200px;
  margin: 0 auto;

  .breadcrumb {
    padding: 14px 0 0 0;
  }

  ion-card {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .title_inner{
      border-bottom: 2px solid transparent !important;
      border-image: linear-gradient(to left, rgba(53, 202, 237, 1.00), rgba(131, 243, 121, 1.00)) !important;
      border-image-slice: 2 !important;
      padding: 0 0 10px 0;
      i {
        width: 16px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #35CAED, #83F379);
      }
      span{
        margin: 0 5px;
        font-size: 18px;
        color: #333333;
        font-family: "Microsoft YaHei Regular";
      }

      span:first-child{
        font-weight: bold;
      }

      span:last-child{
        color: #01CB7F;
      }

    }

    ion-grid {
      ion-row {
        ion-col {
          background: #EDFAF6;

          p {
            margin: 12px 21px 0 24px;
            padding: 0 0 12px 0;
            border-bottom: 1px dashed #3dC183;
            font-size: 16px;
            font-family: "Microsoft YaHei Regular";
            color: #3dC183;

            span:last-child {
              float: right;
            }
          }

          ol {
            max-height: 312px;
            overflow-y: scroll;
            margin: 15px 21px 15px 0;

            li {
              line-height: 30px;

              span:last-child {
                float: right;
              }
            }
          }


        }

        ion-col:first-child {
          margin: 24px 12px 0 0;
        }

        ion-col:last-child {
          margin: 24px 0 0 12px;
        }

      }
    }
  }
}