<ion-header class="mobile">
    <ion-toolbar>
        <ion-title>making</ion-title>
    </ion-toolbar>
</ion-header>
<app-header-t></app-header-t>

<ion-content>
    <div class="content">
        <div class="breadcrumb">
            <ion-text [routerLink]="['/tabs/tab1']" color="primary">首页</ion-text>
            <span> > </span>临床决策库
        </div>

        <ion-card>
            <ion-card-content>
                <div class="title_inner"><i class="iconfont ion-ios-juece"></i><span>临床决策</span><span>CLINICAL DECISION</span>
                </div>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p class="title"><span>相关疾病</span><span>（150）</span></p>
                            <ol class="item-cont">
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                               <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                            </ol>
                        </ion-col>
                        <ion-col>
                            <p class="title"><span>相关疾病</span><span>（150）</span></p>
                            <ol class="item-cont">
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                            </ol>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p class="title"><span>相关疾病</span><span>（150）</span></p>
                            <ol class="item-cont">
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                            </ol>
                        </ion-col>
                        <ion-col>
                            <p class="title"><span>相关疾病</span><span>（150）</span></p>
                            <ol class="item-cont">
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                            </ol>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p class="title"><span>相关疾病</span><span>（150）</span></p>
                            <ol class="item-cont">
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                            </ol>
                        </ion-col>
                        <ion-col>
                            <p class="title"><span>相关疾病</span><span>（150）</span></p>
                            <ol class="item-cont">
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                                <li><span>易感性直肠癌(Asthma)</span><span>（55）</span></li>
                            </ol>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>


    <app-footer></app-footer>
</ion-content>
