<div class="pc">
  <div class="header_item_bg">
    <div class="logo_item">
      <div class="logo" (click)="GoHome()"></div>
      <div class="sign" *ngIf="ISLogin">
        <button class="btn login" (click)="login()">登录</button>
        <button class="btn registered" (click)="registered()">注册</button>
      </div>
    </div>
  </div>
</div>

<div class="header mobile">
  <div class="title" lines="none">
    <ion-icon slot="icon-only" name="arrow-back" (click)="goBack()" class="start"></ion-icon>
    <ion-text>精准肿瘤文献库</ion-text>
    <ion-icon class="iconfont ion-ios-geren5" slot="end"></ion-icon>
  </div>
</div>
