<div class="header mobile">
    <div class="title" lines="none">
        <ion-text>精准肿瘤文献库</ion-text>
        <ion-icon class="iconfont ion-ios-geren5" slot="end"></ion-icon>
    </div>
</div>

<ion-content>
    <div class="card" (click)="init()">
        <ion-card-content class="item_card">
            <p class="title">文献检索</p>
            <div class="basis">
                <div class="condition">
                    <div class="item" *ngFor="let item of condition let i = index">
                        <div class="logic" *ngIf="i!= 0" (click)="qualificationISShow(i,'logic',$event)">
                            <div>
                                <ion-text>{{consequence.qualification[i].logic}}</ion-text>
                                <i class="iconfont ion-ios-icon11"></i>
                            </div>
                            <ul *ngIf="conditionISHide[i]['logic']">
                                <li *ngFor="let logicT of item['logic']"
                                    (click)="qualificationconfirm(i,logicT,'logic',$event)">{{logicT}}</li>
                            </ul>
                        </div>
                        <div class="field" [ngClass]="{'active': i=== 0}"
                             (click)="qualificationISShow(i,'field',$event)">
                            <div>
                                <ion-text>{{consequence.qualification[i].field}}</ion-text>
                                <i class="iconfont ion-ios-icon11"></i></div>
                            <ul *ngIf="conditionISHide[i]['field']">
                                <li *ngFor="let fieldT of item['field']"
                                    (click)="qualificationconfirm(i,fieldT,'field',$event)">{{fieldT}}</li>
                            </ul>
                        </div>
                        <div class="search"><input type="text" [(ngModel)]="consequence.qualification[i].input"
                                                   (focus)="focusFn(i)">
                        </div>
                        <div class="add">
                            <i class="iconfont ion-ios-jian-full" (click)='jian(i)'
                               *ngIf="i !== condition.length-1"></i>
                            <i class="iconfont ion-ios-jia-full" *ngIf="i === condition.length-1"
                               (click)="add()"></i>
                        </div>
                    </div>
                </div>
                <div class="search-btn">
                    <ion-checkbox mode="md" [(ngModel)]="ISCheck"></ion-checkbox>
                    <ion-label>精确匹配</ion-label>
                    <button (click)="search()">检索</button>
                </div>
            </div>

            <div class="limited">
                <div class="cutUp">----
                    <ion-text>检索限定</ion-text>
                    -----------------------------------------
                </div>
                <div class="item">
                    <ion-text>出版时间：</ion-text>
                    <div class="start" (click)="chooseToTime(0,$event)">
                        <ion-text>{{consequence.time.start}}</ion-text>
                        <i class="iconfont ion-ios-icon11"></i>
                        <ul *ngIf="IsHideTime.start">
                            <li *ngFor="let item of while"
                                (click)="Timeconfirm(0,item,$event)">{{item}}</li>
                        </ul>
                    </div>
                    <span>-</span>
                    <div class="end" (click)="chooseToTime(1,$event)">
                        <ion-text>{{consequence.time.end}}</ion-text>
                        <i class="iconfont ion-ios-icon11"></i>
                        <ul *ngIf="IsHideTime.end">
                            <li *ngFor="let item of while" (click)="Timeconfirm(1,item,$event)">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </ion-card-content>

        <div class="Hot">
            <p>热门搜索</p>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let item of thematic.arr1;let i = index" (click)="Goresult(item)">
                        {{item}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngFor="let item of thematic.arr2;let i = index" (click)="Goresult(item)">
                        {{item}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngFor="let item of thematic.arr3;let i = index" (click)="Goresult(item)">
                        {{item}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngFor="let item of thematic.arr4;let i = index" (click)="Goresult(item)">
                        {{item}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
