<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>MM</ion-label>
        <ion-datetime displayFormat="MM" value="2012-12-15T13:47:20.789"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>MM 月 DD 日 YY 年</ion-label>
        <ion-datetime displayFormat="MM 月 DD 日 YY 年" placeholder="选择日期"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>月-日-年</ion-label>
        <ion-datetime value="1995-04-15" min="1990-02" max="2000"
                      displayFormat="MMM-DDD-YYYY"
                      monthShortNames="一月, 二月, 三月, 四月, 五月, 六月, 七月, 八月, 九月, 十月, 十一月, 十二月"
                      dayShortNames="周日,周一,周二,周三,周四,周五,周六"
        ></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>确认/取消</ion-label>
        <ion-datetime cancelText="取消" doneText="确认" yearValues="2014,2015" displayFormat="YYYY" [ngModel]="startingTime"
                      placeholder="选择"></ion-datetime>
    </ion-item>

    <div class="select">
        <div>{{startingTime}}</div>
        <ul>
            <li (click)="selectFn('2014')">2014</li>
            <li (click)="selectFn('2015')">2015</li>
        </ul>
    </div>

    <div>
        <ion-searchbar (ionChange)="getChange($event)" [ngModel]="searchText"></ion-searchbar>
        <ion-list>
            <ion-item (click)="getText('12')">12</ion-item>
            <ion-item (click)="getText('22')">22</ion-item>
            <ion-item (click)="getText('34')">34</ion-item>
        </ion-list>
    </div>
    <ion-button (click)="download()">下载</ion-button>

    <div>{{options}}</div>
</ion-content>
