<div class="headerT ion-toolbar mobile">
    <div class="title " lines="none">
            <ion-text>万方医学</ion-text>
            <ion-icon class="iconfont ion-ios-geren5" slot="end"  (click)="login()"></ion-icon>
    </div>
</div>

<ion-content>
    <div class="header_item">
        <div class="header_item_bg">
            <div class="logo_item pc">
                <div class="logo"></div>
                <div class="sign" *ngIf="ISLogin">
                    <button class="btn login" (click)="login()">登录</button>
                    <button class="btn registered" (click)="enrol()">注册</button>
                </div>
            </div>
            <div class="search_item">
                <p class="mobile title">精准肿瘤文献库</p>
                <ul>
                    <li *ngFor="let item of sort"><a [ngClass]="{'active':item.initial==true}" (click)="Clisore(item)"
                                                     href="javascript:void 0">{{item.text}}</a></li>
                </ul>
                <div class="search_input">
                    <input type="text" [(ngModel)]="search.text"
                           (keypress)="($event.keyCode === 13)?advancedSearch():0"
                           (keyup)="lenovoFn()">
                    <ul class="associate" *ngIf="IsHidelenovo">
                        <li (click)="lenovoTextFn('肿瘤')">肿瘤</li>
                        <li (click)="lenovoTextFn('顶顶顶')">顶顶顶</li>
                        <li (click)="lenovoTextFn('踩踩踩踩踩踩')">踩踩踩踩踩踩</li>
                    </ul>
                    <button (click)="advancedSearch()" class="pc"><i
                            class="iconfont ion-ios-sousuo"></i><span>检索</span></button>
                    <ion-text [routerLink]="['/search']" class="pc">高级检索</ion-text>
                    <ion-text class="iconfont ion-ios-sousuo mobile" (click)="advancedSearch()"></ion-text>
                </div>

            </div>
        </div>

        <ion-card>
            <div class="bg">
                <div class="item_inner">
                    <ion-label><i class="iconfont ion-ios-remen"></i> <span
                            class="title">热门</span><span
                            class="subtitle">HOT</span>
                    </ion-label>
                </div>

                <ion-card-content>
                    <ion-grid>
                        <ion-row class="pc">
                            <ion-col *ngFor=" let item of HOT">
                                <span (click)="Goresult(item)">{{item}}</span>
                            </ion-col>
                        </ion-row>

                        <ion-row class="mobile">
                            <ng-container *ngFor=" let item of HOT; let i = index">
                                <ion-col *ngIf="i<3">
                                    <span (click)="Goresult(item)">{{item}}</span>
                                </ion-col>
                            </ng-container>

                        </ion-row>

                        <ion-row class="mobile">
                            <ng-container *ngFor=" let item of HOT; let i = index">
                                <ion-col *ngIf="i>=3 && i<6">
                                    <span (click)="Goresult(item)">{{item}}</span>
                                </ion-col>
                            </ng-container>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>

                <div class="item_inner pc">
                    <ion-label><i class="iconfont ion-ios-tesezhuanti"></i> <span class="title">专题</span><span
                            class="subtitle">SPECIAL SUBJECT</span>
                    </ion-label>
                </div>

                <ion-card-content class="pc">
                    <ion-row>
                        <ion-col *ngFor=" let item of thematic">
                            <span (click)="Gothematic(item)">{{item}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor=" let item of thematic1">
                            <span (click)="Gothematic(item)">{{item}}</span>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </div>
        </ion-card>
    </div>
    <app-footer></app-footer>
</ion-content>









