<app-header-t></app-header-t>

<ion-content>
    <div class="content">
        <div class="breadcrumb pc">
            <ion-text [routerLink]="['/tabs/tab1']" color="primary">首页</ion-text>
            <span> > </span>专题
        </div>

        <ion-card>
            <ion-card-content>
                <p class="title_inner">
                    <span><small>肠癌</small></span><span>INESTINAL CANCER</span>
                </p>

                <div class="cont_item">
                    <div class="tabs">
                        <ion-text *ngIf="margin!==0" class="iconfont ion-ios-gengduo leftBtn" (click)="leftFn()"></ion-text>
                        <div class="item_tabs">
                            <ul [ngStyle]="{'width':width+'px', 'margin-left': '-'+margin+'px'}">
                                <li *ngFor="let item of tabsList.list" (click)="tansFn(item)">{{item}}
                                    <small *ngIf="tabsList.IsActive === item"></small>
                                </li>
                            </ul>
                        </div>
                        <ion-text class="iconfont ion-ios-gengduo rightBtn" (click)="rightFn()"></ion-text>
                    </div>

                    <div class="item_list">
                        <p class="pc">易感性大肠癌</p>
                        <ul>
                            <li><span>疾病类别</span><span>内分泌系统疾病；肿瘤</span></li>
                            <li><span>数据来源</span><span>OMIM</span></li>
                            <li><span>语义类型</span><span>肿瘤过程</span></li>
                            <li><span>疾病类型</span><span>细胞增值病</span></li>
                        </ul>
                    </div>

                    <div class="item_list">
                        <div class="title"><span class="name">易感性大肠杆菌</span><span>相关基因</span></div>
                        <table class="item_cont pc">
                            <thead>
                            <tr>
                                <th>基因</th>
                                <th>基因全称</th>
                                <th>查看证据</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>

                        <div class="item_footer">
                            <ion-text>更多 <i class="iconfont ion-ios-gengduo"></i></ion-text>
                        </div>
                    </div>

                    <div class="item_list">
                        <div class="title">与<span class="name">易感性大肠杆菌</span><span>共享基因的其他疾病</span></div>
                        <table class="item_cont pc">
                            <thead>
                            <tr>
                                <th>基因</th>
                                <th>基因全称</th>
                                <th>文献数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <div class="item_footer">
                            <ion-text>更多 <i class="iconfont ion-ios-gengduo"></i></ion-text>
                        </div>
                    </div>

                    <div class="item_list">
                        <div class="title"><span class="name">易感性大肠杆菌</span><span>基因-表型-变异-药物关联关系</span></div>
                        <table class="item_cont pc">
                            <thead>
                            <tr>
                                <th>基因</th>
                                <th>基因全称</th>
                                <th>文献数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <div class="item_footer">
                            <ion-text>更多 <i class="iconfont ion-ios-gengduo"></i></ion-text>
                        </div>
                    </div>

                    <div class="item_list">
                        <div class="title"><span class="name">易感性大肠杆菌</span><span>诊断-治疗-预后-药物关联关系</span></div>
                        <table class="item_cont pc">
                            <thead>
                            <tr>
                                <th>基因</th>
                                <th>基因全称</th>
                                <th>文献数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>TP53</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <ul class="item_cont mobile">
                            <li>结肠恶性肿瘤</li>
                            <li><span>疾病类型</span><ion-text>恶性肿瘤；消化系统疾病</ion-text></li>
                            <li><span>共享基因数：<small>3</small></span><span>文献数：<small>18</small></span></li>
                        </ul>
                        <div class="item_footer">
                            <ion-text>更多 <i class="iconfont ion-ios-gengduo"></i></ion-text>
                        </div>
                    </div>

                    <div class="item_list pc">
                        <div class="title"><span class="name">易感性大肠杆菌</span><span>最新文献</span>
                                <ion-text>更多 <i class="iconfont ion-ios-gengduo"></i></ion-text>
                        </div>
                        <table class="item_cont">
                            <tbody>
                            <tr>
                                <td>舒适护理对晚期血液肿瘤患者的作用分析</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>银杏蜜环口服溶液对多发性脑梗死大鼠模型的影响</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            <tr>
                                <td>舒适护理对晚期血液肿瘤患者的作用分析</td>
                                <td>肿瘤蛋白P53</td>
                                <td><span>38</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </ion-card-content>
        </ion-card>


    </div>


    <app-footer></app-footer>
</ion-content>
