<ion-header class="mobile">
    <ion-toolbar>
        <ion-title>详情页</ion-title>
    </ion-toolbar>
</ion-header>
<app-header-t></app-header-t>

<ion-content>
    <div class="content">
        <div class="breadcrumb">
            <ion-text [routerLink]="['/tabs/tab1']" color="primary">首页</ion-text>
            <span> > </span>
            <ion-text [routerLink]="['/tabs/tab1']" color="primary">检索结果</ion-text>
            <span> > </span>文献详情
        </div>
        <div class="card">
            <ion-card-content>
                <p class="title">{{Data.Title[0]}}</p>
                <p class="subtitle"> {{Data.Title[1]}}</p>
                <div class="tabs">
                    <button><i class="iconfont ion-ios-icon-"></i>导出</button>
                    <button><i class="iconfont ion-ios-pdf"></i>PDF阅读</button>
                    <button><i class="iconfont ion-ios-xiazai"></i>下载全文</button>
                </div>
                <div class="summary">
                    <span>摘要：</span>
                    <ion-text>
                        {{Data.Abstract}}
                    </ion-text>
                </div>
                <ul class="info">
                    <li>
                        <span class="autograph">作者：</span><span class="cont-text">{{Data.Creator}}</span>
                    </li>
                    <li>
                        <span class="autograph">期刊：</span><span
                            class="cont-text"><small>《{{Data.PeriodicalIssue}}》</small>
                        <small style="margin: 0 10px">{{Data.ISSN}}卷{{Data.Volume}}期</small>  {{Data.Page}}页</span>
                    </li>
                    <li><span class="autograph">主题词：</span><span
                            class="cont-text"><small>{{Data.Keyword}}</small></span>
                    </li>
                    <li><span class="autograph">分类号：</span><span class="cont-text"><small>R5</small></span></li>
                    <li><span class="autograph">栏目名称：</span><span class="cont-text">{{Data.Column}}</span></li>
                    <li><span class="autograph">DOI：</span><span
                            class="cont-text">{{Data.DOI}}</span></li>
                    <li><span class="autograph">发布时间：</span><span
                            class="cont-text">{{PeriodFn(Data.WFPublishDate)}}</span></li>
                </ul>
                <div class="chart">
                    <div class="chart-label chart-state-all"
                         [ngClass]="{'chart-state-left':position=='left','chart-state-right':position=='right'}">
                        <div class="chart-label-item chart-label-ref">
                            <h3 class="chart-label-title">参考文献</h3>
                            <span class="chart-line"></span>
                            <span class="chart-line-left"></span>
                            <span class="chart-line-right"></span>
                        </div>
                        <div class="chart-label-item chart-label-qot">
                            <h3 class="chart-label-title">引证文献</h3>
                            <span class="chart-line"></span>
                            <span class="chart-line-left"></span>
                            <span class="chart-line-right"></span>
                        </div>
                    </div>
                    <div class="chart-group">
                        <div class="chart-group-item chart-group-all" *ngIf="position==''">
                            <span class="chart-button-left" (click)="openFn('left')">展开</span>
                            <span class="chart-button-right" (click)="openFn('right')">展开</span>
                            <span class="chart-button-center">本文</span>
                            <ul class="chart-ref">
                                <li style="display: list-item;"
                                    *ngFor="let item of literature['RefYears']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn(literature['RefYears']['date'][i],i,'left','0'),'background-color':refPalette[i]}">
                                    <span>{{literature['RefYears']['date'][i]}}</span><em>{{item}}</em></li>
                            </ul>
                            <ul class="chart-qot">
                                <li style="width: 5px; background-color: rgb(119, 199, 255); display: list-item;"
                                    *ngFor="let item of literature['CiteYears']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn(literature['CiteYears']['date'][i],i,'right','0'),'background-color':qotPalette[i]}">
                                    <span>{{literature['CiteYears']['date'][i]}}</span><em>{{item}}</em></li>
                            </ul>
                        </div>
                        <div class="chart-group-item chart-group-ref" *ngIf="position=='left'">
                            <span class="chart-button-center" (click)="openFn('')">返回</span>
                            <ul class="chart-ref">
                                <li style="display: list-item;"
                                    *ngFor="let item of literature['RefYears']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn(literature['RefYears']['date'][i],i,'left','1'),'background-color':refPalette[i]}">
                                    <span>{{literature['RefYears']['date'][i]}}</span><em>{{item}}</em>
                                </li>
                            </ul>
                        </div>
                        <div class="chart-group-item chart-group-qot" *ngIf="position=='right'">
                            <span class="chart-button-center" (click)="openFn('')">返回</span>
                            <ul class="chart-qot">
                                <li style="width: 5px; background-color: rgb(119, 199, 255); display: list-item;"
                                    *ngFor="let item of literature['CiteYears']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn(literature['CiteYears']['date'][i],i,'right','1'),'background-color':qotPalette[i]}">
                                    <span>{{literature['CiteYears']['date'][i]}}</span><em>{{item}}</em></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </ion-card-content>
        </div>
    </div>
    <app-footer></app-footer>

</ion-content>

