<app-header-t></app-header-t>

<ion-content>
    <div class="content">
        <div class="breadcrumb pc">
            <ion-text [routerLink]="['/tabs/tab1']" color="primary">首页</ion-text>
            <span> > </span>
            <ion-text (click)="goBack()" color="primary">检索结果</ion-text>
            <span> > </span>文献详情
        </div>
        <div class="card">
            <ion-card-content>
                <p class="title">{{Data.Title[0]}}</p>
                <p class="subtitle"> {{Data.Title[1]}}</p>
                <div class="tabs">
                    <button class="pc" (click)="ExportFn(Data.Id,Creator(Data.Creator)+Data.PeriodicalIssue+Data.ISSN+Data.Volume+Data.Page)"><i class="iconfont ion-ios-icon-"></i>导出</button>
                    <button (click)="reading()"><i class="iconfont ion-ios-pdf"></i>PDF阅读</button>
                    <button (click)="download()"><i class="iconfont ion-ios-xiazai"></i>下载全文</button>
                </div>
                <div class="summary">
                    <span class="pc">摘要：</span>
                    <p class="mobile">【摘要】</p>
                    <ion-text>
                        {{Data.Abstract}}
                    </ion-text>
                </div>
                <ul class="info">
                    <li>
                        <span class="autograph">作者：</span><span class="cont-text">{{Creator(Data.Creator)}}</span>
                    </li>
                    <li>
                        <span class="autograph">期刊：</span><span
                            class="cont-text"><small>《{{Data.PeriodicalIssue}}》</small>
                        <small style="margin: 0 10px">{{Data.ISSN}}卷{{Data.Volume}}期</small>  {{Data.Page}}页</span>
                    </li>
                    <li><span class="autograph">主题词：</span><span
                            class="cont-text"><small>{{Data.Keyword}}</small></span>
                    </li>
                    <li><span class="autograph">分类号：</span><span class="cont-text"><small>R5</small></span></li>
                    <li><span class="autograph">栏目名称：</span><span class="cont-text">{{Data.Column}}</span></li>
                    <li><span class="autograph">DOI：</span><span
                            class="cont-text">{{Data.DOI}}</span></li>
                    <li><span class="autograph">发布时间：</span><span
                            class="cont-text">{{PeriodFn(Data.WFPublishDate)}}</span></li>
                </ul>
                <div class="chart pc">
                    <div class="chart-label chart-state-all"
                         [ngClass]="{'chart-state-left':position=='left','chart-state-right':position=='right'}">
                        <div class="chart-label-item chart-label-ref">
                            <h3 class="chart-label-title">参考文献</h3>
                            <span class="chart-line"></span>
                            <span class="chart-line-left"></span>
                            <span class="chart-line-right"></span>
                        </div>
                        <div class="chart-label-item chart-label-qot">
                            <h3 class="chart-label-title">引证文献</h3>
                            <span class="chart-line"></span>
                            <span class="chart-line-left"></span>
                            <span class="chart-line-right"></span>
                        </div>
                    </div>
                    <div class="chart-group">
                        <div class="chart-group-item chart-group-all" *ngIf="position==''">
                            <span class="chart-button-left" (click)="openFn('left')">展开</span>
                            <span class="chart-button-right" (click)="openFn('right')">展开</span>
                            <span class="chart-button-center">本文</span>
                            <ul class="chart-ref">
                                <li style="display: list-item;"
                                    *ngFor="let item of literature['RefYearsShort']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn1(literature['RefYearsShort']['date'][i],i,'left'),'background-color':refPalette[i]}">
                                    <span>{{literature['RefYearsShort']['date'][i]}}</span><em>{{item}}</em></li>
                            </ul>
                            <ul class="chart-qot">
                                <li style="width: 5px; background-color: rgb(119, 199, 255); display: list-item;"
                                    *ngFor="let item of literature['CiteYearsShort']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn1(literature['CiteYearsShort']['date'][i],i,'right'),'background-color':qotPalette[i]}">
                                    <span>{{literature['CiteYearsShort']['date'][i]}}</span><em>{{item}}</em></li>
                            </ul>
                        </div>
                        <div class="chart-group-item chart-group-ref" *ngIf="position=='left'">
                            <span class="chart-button-center" (click)="openFn('')">返回</span>
                            <ul class="chart-ref">
                                <li style="display: list-item;"
                                    *ngFor="let item of literature['RefYears']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn(literature['RefYears']['date'][i],i,'left','1'),'background-color':refPalette[i]}">
                                    <span>{{literature['RefYears']['date'][i]}}</span><em>{{item}}</em>
                                </li>
                            </ul>
                        </div>
                        <div class="chart-group-item chart-group-qot" *ngIf="position=='right'">
                            <span class="chart-button-center" (click)="openFn('')">返回</span>
                            <ul class="chart-qot">
                                <li style="width: 5px; background-color: rgb(119, 199, 255); display: list-item;"
                                    *ngFor="let item of literature['CiteYears']['years']; let i =index"
                                    [ngStyle]="{'width': WidthFn(literature['CiteYears']['date'][i],i,'right','1'),'background-color':qotPalette[i]}">
                                    <span>{{literature['CiteYears']['date'][i]}}</span><em>{{item}}</em></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mode pc" *ngIf="export">
                    <div class="export">
                        <div class="title">导出
                            <svg (click)="closeExport()" t="1576059002552" class="icon"
                                 style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;"
                                 viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2884"
                                 data-spm-anchor-id="a313x.7781069.0.i1">
                                <path d="M927.435322 1006.57265l-415.903813-415.903814L95.627695 1006.57265a56.013982 56.013982 0 1 1-79.20377-79.231777l415.903814-415.875807L16.423925 95.58926A56.013982 56.013982 0 0 1 95.627695 16.357483l415.903814 415.903813L927.435322 16.357483a55.985975 55.985975 0 1 1 79.175763 79.231777L590.763286 511.465066l415.847799 415.875807a55.985975 55.985975 0 1 1-79.175763 79.231777z"
                                      p-id="2885" fill="#ffffff"></path>
                            </svg>
                        </div>
                        <div class="content">
                            <p>您可以直接复制参考文献内容，或按指定格式导出。</p>
                            <ion-item>
                                <ion-label>参考文献：</ion-label>
                                <ion-textarea [(ngModel)]="references.text"></ion-textarea>
                            </ion-item>
                            <div class="buts">
                                <ion-label>指定格式：</ion-label>
                                <a href="javascript:void 0" (click)="expressFn('NoteExpress')">NoteExpress</a>
                                <a href="javascript:void 0" (click)="expressFn('EndNote')">EndNote</a>
                                <a href="javascript:void 0" (click)="expressFn('RefWorks')">RefWorks</a>
                                <a href="javascript:void 0" (click)="expressFn('NoteFirst')">NoteFirst</a>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-card-content>
        </div>
    </div>
    <app-footer></app-footer>

</ion-content>

