<ion-header class="mobile">
    <ion-toolbar>
        <ion-title>special</ion-title>
    </ion-toolbar>
</ion-header>

<app-header-t></app-header-t>

<ion-content>
    <div class="content">
        <div class="breadcrumb">
            <ion-text [routerLink]="['/tabs/tab1']" color="primary">首页</ion-text>
            <span> > </span>基因证据
        </div>
        <div [ngStyle]="{height:height}">
                <ion-card>
                    <ion-card-content>
                            <p class="title"><span>易感性大肠癌</span><span>基因证据</span></p>
                            <div class="condition">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>基因</th>
                                        <th>关联规则</th>
                                        <th>数据来源</th>
                                        <th>在文献摘要中的展示</th>
                                        <th>发表年份</th>
                                        <th>文献详情</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>TP53</td>
                                        <td>遗传变异</td>
                                        <td>《中国组织工程研究》</td>
                                        <td>易感性大肠癌XXXXXXXTP53XXXXXXXX遗传变异</td>
                                        <td>2011</td>
                                        <td><ion-text [routerLink]="['/details']">查看全文</ion-text></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </ion-card-content>
                </ion-card>


        </div>
    </div>

    <app-footer></app-footer>
</ion-content>
