.content {
  width: 1200px;
  margin: 0 auto;

  .breadcrumb {
    padding: 14px 0 0 0;
  }

  ion-card {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .title {
      font-size: 18px;
      font-family: "Microsoft YaHei Regular";
      color: #000000;

      span:first-child {
        color: #01B76C;
        margin-right: 10px;
      }
    }

    .condition {
      table{
        width: 100%;
        thead{
          tr{
            background: #EDFAF6;
            color: #000000;
            font-size: 14px;

            th{
              padding: 18px 0;
            }
          }
        }
        tbody{
          tr{
            td{
              font-size: 14px;
              text-align: center;
              color: #000000;
              padding: 18px 0;
              ion-text{
                color: #01B76C;
              }
            }
          }
        }
      }
    }
  }

}