<div class="header_item_bg">
  <div class="logo_item">
    <div class="logo"><img src="../../assets/image/header/logo.png" alt=""></div>
    <div class="sign">
      <button class="btn login">登录</button>
      <button class="btn registered">注册</button>
    </div>
  </div>
  <div class="search_item">
    <ul>
      <li *ngFor="let item of sort"><a [ngClass]="{'active':item.initial==true}" (click)="Clisore(item)"
                                       href="javascript:void 0">{{item.text}}</a></li>
    </ul>
    <div class="search_input">
      <input type="text">
      <button><i class="iconfont ion-ios-sousuo"></i><span>检索</span></button>
     <!-- <ion-text [routerLink]="['/search']">高级检索</ion-text>-->
    </div>

  </div>
</div>
